
/* global reset and variables */
:root {
  --red: #ED6A60;
  --yellow: #EAB345;
  --blue: #2B6282;
  --smoke: #F8F8F8;
  --black: #000000;
  --section-margin-internal: 1.5em;
  --section-margin: 6em;
  --section-margin-big: 10em;
  --section-margin-mega: 15em;
  --border-radius: 1.4em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: var(--blue);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}




/* utility */
.container{
  max-width: 92%;
  margin: 0 auto;
}

.container-mini{
  max-width: 80%;
  margin: 0 auto;
}

.highlight-y{
  color: var(--yellow);
}

.highlight-b{
  color: var(--blue);
}




/* typography */
.text-d1 {
  font-size: 7rem;
  line-height: 1;
}

.text-d2 {
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -2px;
}

.text-h1 {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: -1.5px;
}

.text-h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.text-h3 {
  font-size: 2.6rem;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.text-h4 {
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.text-h5 {
  font-size: 1.4rem;
  line-height: 1.4;
}

.text-h6 {
  font-size: 1.1rem;
  line-height: 1.5;
}

.text-h6-caps {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.text-h6-mini {
  font-size: 0.9rem;
  line-height: 1.3;
}





/* nav */
.nav{
  padding: 2.5em 0;
}

.nav-grid{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-wrapper{
  width: 14em;
}

.nav-links-wrapper,
.nav-links__social{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links__social{
  margin-left: 1.2em;
}

.nav-links__social-item{
  width: 1.75em;
  padding: 0.6em;
  margin-left: 0.6em;
  color: var(--yellow);
  transition: color 0.2s ease-out;
}

.nav-links__social-item:hover,
.nav-links__social-item:focus{
  color: var(--red);
}

.nav-link-item{
  margin-left: 2em;
  letter-spacing: -0.5px;
  transition: color 0.2s ease-out;
}

.nav-link-item:hover,
.nav-link-item:focus{
  color: var(--yellow);
}



/* home page *******************************************************************/

/* home hero banner */
.home-hero{
  position: relative;
  margin-top: 7.5em;
  margin-bottom: var(--section-margin);
}

.home-hero__image-wrapper{
  overflow: hidden;
  height: 40em;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5em;
  position: relative;
  z-index: 1;
}

.home-hero__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-hero__pitch-wrapper{
  position: absolute;
  z-index: 5;
  top: -13.5%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-hero__pitch{
  text-align: center;
  max-width: 20ch;
}



/* big text */
.big-text{
  margin-bottom: var(--section-margin);
}



/* story interactive */
.story{
  margin-bottom: var(--section-margin);
}

.story-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  height: 40em;
}

.story-grid-item{
  border-radius: var(--border-radius);
  background: var(--smoke);
  position: relative;
  overflow: hidden;
}

.story-grid-item__card1,
.story-grid-item__card2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.story-card1__main{
  margin-bottom: 0.5em;
}

.story-grid-item__card2{
  background: var(--red);
  color: white;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 5;
}

.story-grid-item__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20%;
}

.story-toggle-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.story-toggle-wrapper{
  width: 12em;
  height: 6em;
  border-radius: 50em;
  background-color: var(--blue);
  position: relative;
  margin-bottom: 0.5em;
}

.story-toggle-ball{
  width: 5.6em;
  height: 5.6em;
  margin: 0 0.2em;
  border-radius: 50em;
  background-color: var(--yellow);
  position: absolute;
  top: 0.2em;
  left: 0%;
}

.story-toggle__info{
  text-transform: uppercase;
  opacity: 0.5;
}

.story-grid-item__bg{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.story-grid-item__bg-item1{
  position: absolute;
  top: -10%;
  left: -10%;
  width: 16em;
  height: 16em;
  background-color: var(--red);
  border-radius: 50em;
}

.story-grid-item__bg-item2{
  position: absolute;
  top: 25%;
  right: 10%;
  width: 6em;
  height: 6em;
  background-color: var(--red);
  border-radius: 50em;
}

.story-grid-item__bg-item3{
  position: absolute;
  bottom: -40%;
  right: 15%;
  width: 26em;
  height: 26em;
  background-color: var(--red);
  border-radius: 50em;
}



/* program introduction on homepage */
.home-about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  margin-bottom: var(--section-margin);
}

.home-about__main{
  color: var(--yellow);
}

.home-about__sub{
  grid-column-start: 2;
  grid-column-gap: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}



/* marquee plain */
.marquee-plain{
  overflow: hidden;
  width: 100%;
  margin-bottom: var(--section-margin);
}

.marquee-plain__rotate{
  transform: rotateZ(-1.5deg);
  padding: 2em 0;
}

.marquee-plain__wide{
  display: flex;
  flex-wrap: nowrap;
  width: 1000%;
}

.marquee-plain__group{
  display: flex;
  flex-wrap: nowrap;
  animation: marquee-plain 20s linear infinite;
}

@keyframes marquee-plain {
    0% {
    transform: translateX(0%);
    }
   	100% {
   	transform: translateX(-100%);
   	}
}

.marquee-plain__item{
  display: flex;
  align-items: center;
}

.marquee-plain__dot{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--blue);
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.marquee-plain__text{
  color: var(--yellow);
}




/* home approach - driving systemic change */
.approach-intro{
  margin-bottom: var(--section-margin);
}

.approach-intro__main{
  margin-bottom: var(--section-margin-internal);
}


/* approach interactive */
.approach{
  height: 90vh;
  background: var(--smoke);
  border-radius: var(--border-radius);
  margin-bottom: var(--section-margin);
}


/* approach additional */
.approach-additional{
  margin-bottom: var(--section-margin);
}

.approach-intro__grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.approach-intro__sub{
  max-width: 90%;
}

.approach-intro__buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.approach-intro__button{
  background-color: var(--yellow);
  color: white;
  border-radius: 50em;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.approach-intro__button-icon-wrapper{
  margin-left: 0.5em;
  width: 1.25em;
}


/* cities */
.cities{
  background: var(--blue);
  color: white;
  padding: 6em 0;
}

.cities__title{
  color: var(--yellow);
  margin-bottom: 1em;
}

.cities-desc-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6em;
  margin-bottom: var(--section-margin-big);
}



/* citites accordion */
.cities{
  margin-bottom: var(--section-margin);
}

.cities-acc__wrapper{
  margin-bottom: var(--section-margin-big);
}

.cities-acc{
  width: 50%;
  margin: 0 auto;
}

.cities-acc__item{
  background: var(--smoke);
  border-radius: 1em;
  margin-bottom: 1em;
}

.cities-acc__head{
  padding: 2em 2.5em 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cities-acc__country{
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cities-acc__city{
  color: var(--yellow);
  margin-left: -0.1em;
}

.cities-acc__toggle-wrapper{
  height: 3em;
  width: 3em;
}

.cities-acc__body{
  padding: 0em 2.5em 0em;
  overflow: hidden;
  height: 0;
}

.cities-acc__divider{
  height: 3px;
  width: 100%;
  border-radius: 10em;
  width: 100%;
  background: var(--blue);
  opacity: 0.2;
}

.cities-acc__location-wrapper{
  padding: 3em 0;
}

.cities-acc__location-image{
  width: 30%;
  margin: 0 auto;
}

.cities-acc__text{
  color: var(--blue);
  margin-bottom: 2em;
}



/* cities future */
.cities-future-text{
  width: 50%;
  margin: 0 auto;
  margin-bottom: var(--section-margin-internal);
}

.cities-map__image{
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}



/* spotlight */
.spotlight{
  height: 70vh;
  background: var(--smoke);
  border-radius: var(--border-radius);
  margin-bottom: var(--section-margin-big);
  position: relative;
}



/* partners */
.partners{
  height: 70vh;
  margin-bottom: var(--section-margin-big);
}

.partners-intro{
  max-width: 60ch;
  margin-bottom: 3em;
}

.partners-intro__main{
  color: var(--yellow);
  margin-bottom: 0.3em;
}

.partners-acc{
  background: var(--smoke);
  border-radius: 1em;
}

.partners-acc__head{
  padding: 1.5em 2.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-acc__toggle-wrapper{
  height: 3em;
  width: 3em;
}


/* marquee-wlink */
.marquee-wlink{
  overflow: hidden;
  width: 100%;
  margin-bottom: var(--section-margin-big);
}

.marquee-wlink__rotate{
  transform: rotateZ(-1.5deg);
  padding: 2em 0;
}

.marquee-wlink__wide{
  display: flex;
  flex-wrap: nowrap;
  width: 1000%;
}

.marquee-wlink__group{
  display: flex;
  flex-wrap: nowrap;
  color: white;
  animation: marquee-wlink 20s linear infinite;
}

@keyframes marquee-wlink {
    0% {
    transform: translateX(0%);
    }
   	100% {
   	transform: translateX(-100%);
   	}
}

.marquee-wlink__item{
  background: var(--yellow);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  padding: 1em 1.4em;
  margin-right: 1em;
}

.marquee-wlink__text{
  font-weight: 500;
  margin-right: 0.5em;
}

.marquee-wlink__icon-wrapper{
  width: 2.4em;
}




/* ctas  */
.ctas{
  margin-bottom: var(--section-margin-mega);
}

.cta-item{
  border-radius: 50em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4em;
  padding: 6em 15%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.cta-yellow{
  background: var(--yellow);
}

.cta-blue{
  background: var(--blue);
}

.cta-red{
  background: var(--red);
}

.cta-item__info{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cta-item__button{
  background: white;
  border-radius: 50em;
  color: var(--blue);
  text-transform: uppercase;
  padding: 0.3em 1em;
  margin-bottom: 1.5em;
  font-weight: 500;
}





/* footer */
.footer{
  position: relative;
}

.footer-gib{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-column-gap: 2.4em;
  align-items: center;
  max-width: 32%;
  position: absolute;
  top: -8em;
  right: 0;
  background: white;
  border-top-left-radius: 50em;
  border-bottom-left-radius: 50em;
  padding-left: 2em;
  padding-top: 2.8em;
  padding-bottom: 2.8em;
  padding-right: 4%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.08);
}

.footer-gib__icon-wrapper{
  width: 10em;
}

/* footer main */
.footer-main{
  background: var(--smoke);
}

.footer-main-flex{
  display: flex;
  justify-content: space-between;
  padding-top: 10em;
  padding-bottom: 4em;
  align-items: flex-start;
}

.footer-col__title{
  margin-bottom: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

.footer-col__links{
  display: flex;
  flex-direction: column;
}

.footer-col__item{
  margin-bottom: 0.7em;
  transition: color 0.2s ease-out;
}

.footer-col__item:hover,
.footer-col__item:focus{
  color: var(--yellow);
}

.footer-col__item-address{
  max-width: 12ch;
  margin-bottom: 2.1em;
}

.footer-col__item-legal{
  max-width: 18ch;
  margin-bottom: 2.1em;
}


/* colophon */
.colophon{
  padding: 1.25em 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.colophon-credits{
  display: flex;
  align-items: center;
}

.colophon-carbon{
  display: flex;
  align-items: center;
  margin-right: 0.6em;
}

.colophon-carbon__icon-wrapper{
  width: 1.5em;
  margin-top: -0.4em;
  margin-right: 0.5em;
}

.colophon-kasjmier{
  background: var(--blue);
  color: white;
  border-radius: 50em;
  padding: 0.2em 0.7em;
}



/* about page *******************************************************************/
/* hero banner */
.hero-banner{
  position: relative;
  margin-top: 1em;
  margin-bottom: var(--section-margin);
}

.hero-banner__image-wrapper{
  overflow: hidden;
  height: 46em;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5em;
  position: relative;
  z-index: 1;
}

.hero-banner__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* page introduction 2grid */
.about-intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4em;
  margin-bottom: var(--section-margin-big);
}

.about-intro__sub{
  grid-column-start: 2;
  grid-column-gap: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}



/* about accordion section */
.about-acc{
  background: var(--smoke);
  margin-bottom: var(--section-margin-mega);
  position: relative;
}

.about-acc__toggle-area{
  position: absolute;
  top: -3em;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about-acc__toggle-wrapper{
  width: 12em;
  height: 6em;
  border-radius: 50em;
  background-color: var(--blue);
  position: relative;
  margin-bottom: 0.8em;
}

.about-acc__toggle-ball{
  width: 5.6em;
  height: 5.6em;
  margin: 0 0.2em;
  border-radius: 50em;
  background-color: var(--yellow);
  position: absolute;
  top: 0.2em;
  left: 0%;
}

.about-acc__toggle-info{
  text-transform: uppercase;
  opacity: 0.5;
}

.about-acc__text{
  /* max-width: 50ch; */
  margin: 0 30%;
  margin-top: 10em;
  margin-bottom: 10em;
}

.about-acc__body{
  overflow: hidden;
  height: 0;
}



/* princples */
.principles{
  margin-bottom: var(--section-margin-big);
}

.principles-intro{
  color: var(--yellow);
  max-width: 14ch;
  margin-bottom: 1em;
}

.principles-acc__item{
  background: var(--smoke);
  border-radius: 1em;
  margin-bottom: 1em;
}

.principles-acc__head{
  padding: 1.6em 2.5em 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ba
}

.principles-acc__titles-sub{
  color: var(--yellow);
}

.principles-acc__toggle-wrapper{
  height: 3em;
  width: 3em;
}

.principles-acc__body{
  padding: 0em 2.5em 0em;
  overflow: hidden;
  height: 0;
}

.principles-acc__divider{
  height: 3px;
  width: 100%;
  border-radius: 10em;
  width: 100%;
  background: var(--blue);
  opacity: 0.2;
}

.principles-acc__text{
  margin: 2.3em 0;
}






/* blog page *******************************************************************/

/* hero banner */
.blog-hero{
  margin-bottom: var(--section-margin);
  position: relative;
  min-height: 44vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-subcription__wide{
  width: 100%;
}

.blog-subscription{
  width: 42ch;
  margin: 0 auto;
}

.blog-form__titles{
  text-align: center;
}

.blog-form__titles-main{
  margin-bottom: 0.15em;
}

.blog-form__titles-sub{
  margin-bottom: var(--border-radius);
}

.blog-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form input[type="text"]{
  border: none;
  border-radius: 50em;
  padding: 0.85em 2em;
  margin-bottom: 0.5em;
  text-align: center;
  background: var(--blue);
  min-width: 30ch;
  color: white;
}

.blog-form input[type="text"]::placeholder {
  color: white;
  opacity: 1;
}

input:focus{
	outline:0;
}

.blog-form input[type="submit"]{
  background: var(--yellow);
  color: white;
  border-radius: 50em;
  padding: 0.8em 2em;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.blog-form input[type="submit"]:hover{
  transform: scale(1.1);
}



/* blog intro */
.blog-intro{
  margin-bottom: var(--section-margin);
  width: 100%;
}

.blog-intro__main{
  margin-bottom: 0.3em;
}

.blog-intro__sub{
  max-width: 44ch;
}



/* blogs grid */
.blogs-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 6em;
  margin-bottom: var(--section-margin-mega);
}

.blog-card__top{
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: 1.3em;
}

.blog-card__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__button{
  position: absolute;
  bottom: 1.9em;
  right: 2em;
  background: var(--blue);
  color: white;
  border-radius: 50em;
  padding: 0.5em 1em;
}

.blog-card__info{
  padding: 0 1.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-card__title{
  margin-bottom: 0.5em;
}

.blog-card__tag-s1{
  background: var(--yellow);
  padding: 0.3em 0.6em;
  color: white;
}

.blog-card__tag-s2{
  background: var(--red);
  padding: 0.3em 0.6em;
  color: white;
}
